[Desktop Entry]
Type=Application
Name=BabyDra Explore
Comment=Explore files and folders
Exec=babydra-explore %u
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;GTK;
MimeType=inode/directory;
NoDisplay=false
