[Desktop Entry]
Type=Application
Name=BabyDra Notepad
Comment=Text editor with syntax highlighting
Exec=babydra-notepad %f
Icon=/usr/share/babydra/logo.png
Terminal=false
Categories=Utility;TextEditor;Development;GTK;
MimeType=text/plain;text/x-rust;text/x-c;text/x-c++;text/javascript;application/json;application/toml;text/markdown;
NoDisplay=false
